.bg-color-1 {
    background-color: #4F6D7A;
}

.bg-color-2 {
    background-color: #C0D6DF !important;
}

.bg-color-3 {
    background-color: #DBE9EE;
}

.bg-color-whatever-Adam-wants-I-guess {
    background-color: #ECFDFF;
}

.bg-color-4 {
    background-color: #4A6FA5;
}

.bg-color-5 {
    background-color: #166088;
}

.bg-color-white {
    background-color: white;
}

