
.bg-pastel-yellow {
    background-color: #F7F1EB ;
}

.dark-yellow {
    color: #947600 !important;
}


html {
    overflow-y: auto !important;
}

.logo {
    width: 50% ;
}

.mg-bot-75 {
    margin-bottom: 40px;
}

.mg-top-75 {
    margin-top: 40px; 
}



