
.bg-pastel-yellow {
    background-color: #DBE9EE ;
}


.dark-yellow {
    color: #947600 !important;
}


html {
    overflow-y: auto !important;
}

.logo {
    width: 50% ;
}

.mg-bot-75 {
    margin-bottom: 40px;
}

.mg-top-75 {
    margin-top: 40px; 
}

.sign-up:hover {
    background-color: #4F6D7A !important;
    color: white !important;
}



@media screen and (min-width: 600px) {
    .logo{
        width: 25%;
    }
}


