/* * { 
    margin: 0 auto;
} */

html {
    overflow-y: auto;
}

.bg-blue {
    background-color: blue;
}

body {
    height: 100vh;
}

.navbar {
    height: 10%;
    padding: 2%;
}

.navbar-brand {
    height: 98%;
    min-height: 0;
    margin: auto 0;
}

.navbar-item img {
    padding: auto;
    height: fit-content;
}

#root {
    margin: 0;
    display: flex;
    flex-direction: row;
    max-height: 90%;
}

.datePanel {
    overflow-y: scroll;
    padding: 0;
    /* border: solid 1px black; */
}

.datePanel::-webkit-scrollbar {
    display: none;
}

.datePanel .dateObj {
    /* border: dashed 1px red; */
    background-color: rgb(219, 233, 238);
    text-align: center;
}

.datePanel .dateObj h1 {
    width: 90%;
    padding: .5em;
}

.datePanel .dateObj:hover {
    background-color: rgb(79, 109, 122);
    color: rgb(219, 233, 238);
}

.datePanel .activeDate {
    background-color: rgb(22, 96, 136);
    color: rgb(219, 233, 238);
}

.datePanel .activeDate:hover {
    background-color: rgb(22, 96, 136);
    color: rgb(219, 233, 238);
}

.datePanel .scrollUpArrow.active {
    position: absolute;
    top: 12%;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 20px solid rgba(74, 111, 165, 0.7);
    pointer-events: none;
}

.datePanel .scrollDownArrow.active {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 20px solid rgba(74, 111, 165, 0.7);
    pointer-events: none;
}

.logView {
    /* border: solid 1px black; */
    background-color: rgb(250, 250, 252);
    padding: 1em;
}

.logView .subtitle {
    margin: 0;
    margin-bottom: .2em;
}

.logView .logMoodSelector img {
    width: 5vw;
}

.logView .textarea {
    margin: .5em 0;
}

.logView .textarea:focus {
    background-color: rgb(234, 248, 253);
    border-color: rgb(22, 96, 136);
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.button.is-submit {
    background-color: rgb(52, 126, 166);
    color: rgb(219, 233, 238);
}

.button.is-submit:hover {
    background-color: rgb(22, 116, 156);
    color: rgb(234, 248, 253);
}

.button.is-submit:active {
    background-color: rgb(2, 86, 116);
    color: rgb(234, 248, 253);
}

.button.is-cancel {
    background-color: rgb(219, 233, 238);
    color: rgb(52, 126, 166);
    border: rgb(52, 126, 166);
}

.button.is-cancel:hover {
    background-color: rgb(199, 213, 218);
    color: rgb(32, 106, 146);
    border: rgb(32, 106, 146);
}

.button.is-cancel:active {
    background-color: rgb(179, 193, 198);
    color: rgb(12, 86, 126);
    border: rgb(12, 86, 126);
}

.button.is-light {
    background-color: rgb(239, 253, 255);
    color: rgb(82, 156, 196);
    border: rgb(82, 156, 196);
}

.button.is-light:hover {
    background-color: rgb(219, 233, 235);
    color: rgb(62, 136, 176);
    border: rgb(62, 136, 176);
}

.button.is-light:active {
    background-color: rgb(199, 213, 215);
    color: rgb(42, 116, 156);
    border: rgb(42, 116, 156);
}